# Binaries
gen
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*.test
*.out

# Dependency directories
vendor/
node_modules/

# Go workspace file
go.work

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?